<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, address, phone, icons" />
    <title>Footer With Address And Phones</title>
    <link rel="stylesheet" href="assets/css/footer-distributed-with-address-and-phones.css">
  </head>
  <body>
    <footer>
      <div class="footer-distributed">
        <div class="footer-left">
          <p class="footer-links">
            <a href="{{ '/' | absolute_url }}">Homepage</a>
            ·
            <a href="{{ 'Projects.html' | absolute_url }}">Projects</a>
            ·
            <a href="{{ 'AboutUs.html' | absolute_url }}">About Us</a>
            ·
            <a href="{{ 'ContactUs.html' | absolute_url }}">Contact Us</a>
          </p>
        </div>
        <div class="footer-center">
        </div>
        <div class="footer-right">
          <p class="footer-company-about">
            <span>About the Company</span>
            {{site.title}} commenced operations in 2017. From a beginning of design, build and conduction of solar panel structures and factory related mechanical
            engineering design, troubleshooting and project leading services,
            we have grown to have a broad base offering in electro-mechanical
            engineering  services to companies and individuals in both regional
            and city based locations.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
