<!DOCTYPE HTML>
<html>
    {% include head.html %}
    <head>
        <link rel="icon" href="{{ site.baseurl }}/assets/images/Logo-Top.jpg">
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    {% include header.html %}
                    {% include banner.html %}
                    {{ content }}
                </div>
            </div>
            {% include sidebar.html %}
        </div>
        {% include footer.html %}
        {% include footer2.html %}
    </body>
</html>
