<!DOCTYPE HTML>

<html>
  <head>
    <link rel="icon" href="{{ site.baseurl }}/assets/images/Logo-Top.jpg">
  </head>
  {% include head.html %}
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          {% include header.html %}
          <!-- Content -->
          <section>
            <header class="main">
              <h1>{{ page.title }}</h1>
            </header>
            {% if page.image %}
              <span class="image main"><img src="{{ page.image | absolute_url }}" alt="" /></span>
            {% endif %}
            {{ content }}
          </div>
        </div>
        {% include sidebar.html %}
      </div>
      {% include footer.html %}
      {% include footer2.html %}
    </body>
  </html>
